<footer>
    <div id="Barradecor">
        <div id="Loja">
            <h4>Loja</h4>
            <a href="#">Sobre</a>
            <a href="#">FAQ</a>
            <a href="#">Contato</a>
            <a href="#">Envio e devoluções</a>
            <a href="#">Política da loja</a>
            <a href="#">Métodos de pagamento</a>
        </div>
        <div id="Segurança">
            <h4>Segurança</h4>
            <img class="escudo" src="img/Escudo.png" alt="Ambiente 100% seguro" height="30" width="30">
            <p class="Boa">Ambiente 100% Seguro. Sua Informação é Protegida Pela Criptografia SSL 256-Bit.</p>
        </div>
        <div id="Pagamento">
            <h4>Métodos de pagamento aceitos</h4>
            <img class="cartoes" src="img/Visa.png" alt="Formas de pagamento">
        </div>
    </div>
    <div id="BarraFinal">
        <div class="subarrafinal">
            <img src="img/facefinal.png" alt="Facebook">
            <img src="img/instafinal.png" alt="Instagram">
            <img src="img/pinfinal.com" alt="Pinterest">
        </div>
        <p>© 2022</p>
        <p>Importadora Great Fun Ltda. - CPF/CNPJ: 12.345.678/0000-01 - Av. Bernardino de Campos, 98 - São Paulo, SP
            12345-678</p>
        <p>info@meusite.com - Tel: (11) 4002-8922 | Estimativa de entrega 2 - 5 dias úteis</p>
    </div>
</footer>